## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.06,71,88,13.49,overcast clouds
1,1,Hithadhoo,MV,-0.6000,73.0833,83.48,73,100,13.73,overcast clouds
2,2,Cape Town,ZA,-33.9258,18.4232,58.10,92,75,5.75,broken clouds
3,3,Dikson,RU,73.5069,80.5464,31.28,96,100,14.09,overcast clouds
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,32.22,92,100,10.98,overcast clouds

In [3]:

# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 26
What is the maximum temperature you would like for your trip? 59

In [12]:

# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_c_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_c_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Cape Town,ZA,-33.9258,18.4232,58.10,92,75,5.75,broken clouds
3,3,Dikson,RU,73.5069,80.5464,31.28,96,100,14.09,overcast clouds
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,32.22,92,100,10.98,overcast clouds
7,7,Iqaluit,CA,63.7506,-68.5145,27.70,79,100,11.99,overcast clouds
8,8,Chokurdakh,RU,70.6333,147.9167,30.16,89,100,6.11,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
669,669,Atherton,GB,53.5237,-2.4935,56.28,82,100,5.01,overcast clouds
670,670,Blagoyevo,RU,63.3667,47.9167,29.82,86,77,2.55,broken clouds
678,678,Kamenka,RU,51.3223,42.7678,44.67,90,5,4.97,clear sky
679,679,Suksun,RU,57.1431,57.3949,40.55,96,71,8.99,broken clouds
683,683,Jelgava,LV,56.6500,23.7128,42.84,74,77,6.38,broken clouds

In [13]:
# 4a. Determine if there are any empty rows.
clean_c_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.clean_df.dropna
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_c_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Cape Town,ZA,-33.9258,18.4232,58.10,92,75,5.75,broken clouds
3,3,Dikson,RU,73.5069,80.5464,31.28,96,100,14.09,overcast clouds
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,32.22,92,100,10.98,overcast clouds
7,7,Iqaluit,CA,63.7506,-68.5145,27.70,79,100,11.99,overcast clouds
8,8,Chokurdakh,RU,70.6333,147.9167,30.16,89,100,6.11,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
669,669,Atherton,GB,53.5237,-2.4935,56.28,82,100,5.01,overcast clouds
670,670,Blagoyevo,RU,63.3667,47.9167,29.82,86,77,2.55,broken clouds
678,678,Kamenka,RU,51.3223,42.7678,44.67,90,5,4.97,clear sky
679,679,Suksun,RU,57.1431,57.3949,40.55,96,71,8.99,broken clouds
683,683,Jelgava,LV,56.6500,23.7128,42.84,74,77,6.38,broken clouds

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cape Town,ZA,58.10,broken clouds,-33.9258,18.4232,
3,Dikson,RU,31.28,overcast clouds,73.5069,80.5464,
4,Tuktoyaktuk,CA,32.22,overcast clouds,69.4541,-133.0374,
7,Iqaluit,CA,27.70,overcast clouds,63.7506,-68.5145,
8,Chokurdakh,RU,30.16,overcast clouds,70.6333,147.9167,
10,Cherskiy,RU,42.06,overcast clouds,68.7500,161.3000,
11,Ushuaia,AR,42.46,few clouds,-54.8000,-68.3000,
15,Flinders,AU,57.06,clear sky,-34.5833,150.8552,
23,Kaitangata,NZ,51.19,broken clouds,-46.2817,169.8464,
28,Bluff,NZ,50.67,broken clouds,-46.6000,168.3333,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [17]:
import numpy as np

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = clean.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cape Town,ZA,58.10,broken clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
4,Tuktoyaktuk,CA,32.22,overcast clouds,69.4541,-133.0374,End of The Road Ltd.
7,Iqaluit,CA,27.70,overcast clouds,63.7506,-68.5145,Frobisher Inn
10,Cherskiy,RU,42.06,overcast clouds,68.7500,161.3000,Gostinitsa
11,Ushuaia,AR,42.46,few clouds,-54.8000,-68.3000,Albatross Hotel

In [20]:
# 8a. Create the output File (CSV)
output_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))